@model ClockRestoration.ViewModels.OrderViewItem
<div class="container">
    <h2>Details</h2>

    <div>
        <h4>Order №@Model.Id</h4>
        <hr />

        <div class="input-group">
            <span class="input-group-text">
                Статус
            </span>
            <input type="text" class="form-control" value="@Html.DisplayFor(model => model.Status)"> 
        </div>

       
            <div class="input-group">
                <span class="input-group-text">
                    ФИО
                </span>
                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.Name)">
            </div>

            <div class="input-group">
                <span class="input-group-text">
                    Адрес
                </span>
                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.Address)">
            </div>

            <div class="input-group">
                <span class="input-group-text">
                    Номер телефона
                </span>
                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.Phone)">
            </div>

            <div class="input-group">
                <span class="input-group-text">
                    Дата окончания работ
                </span>
                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.DeadLine)">
            </div>

            <div class="input-group">
                <span class="input-group-text">
                    Бренд
                </span>
                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.Brand)">
            </div>

            <div class="input-group">
                <span class="input-group-text">
                    Тип часов
                </span>
                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.ClockType)">
            </div>

            <div class="input-group">
                <span class="input-group-text">
                    Фото
                </span>
                <img src="~/@Model.ImageUrl" style="max-width: 50%; max-height: 300px"/>
                
            </div>
                
            

            <div class="input-group">
                <span class="input-group-text">
                    Комментарии
                </span>
                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.Comments)">
            </div>

            <div class="input-group">
                <span class="input-group-text">
                    Способ доставки
                </span>
                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.Delivery)">
            </div>

            <div class="input-group">
                <span class="input-group-text">
                    Способ оплаты
                </span>
                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.Payment)">
            </div>

    </div>
    <p>
        @Html.ActionLink("Изменить заказ", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" })
        @Html.ActionLink("Подтвердить", "ConfirmOrder", new { id = Model.Id }, new { @class = "btn btn-success" })
        @Html.ActionLink("Выполнен", "DoneOrder", new { id = Model.Id }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Отменить", "CancelOrder", new { id = Model.Id }, new { @class = "btn btn-danger" })
        @Html.ActionLink("Ко всем заказов", "GetOrders", new { }, new { @class = "btn btn-default" })
    </p>
</div>