<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Реставрация циферблата часов</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @Html.ActionLink("Реставрация циферблата часов", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" id="navbarContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">@Html.ActionLink("Главная", "Index", "Home", new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Галерея", "Gallery", "Home", new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Контакты", "Contacts", "Home", new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Сделать заказ", "Order", "Home", new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Просмотр заказов", "GetOrders", "Home", new { @class = "nav-link" })</li>
                </ul>
                

                @if (!User.Identity.IsAuthenticated)
                {
                    <ul class="navbar-nav navbar-right">
                        <li class="nav-item">
                            <a href="@Url.Action("Register", "Account")" class="nav-link">
                                <i class="glyphicon glyphicon-user">&nbsp;</i> Sign up
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="@Url.Action("Login", "Account")">
                                <i class="glyphicon glyphicon-log-in">&nbsp;</i>Sign In
                            </a>
                        </li>
                    </ul>
                }
                else
                {
                    <ul class="navbar-nav navbar-right">
                        <li class="nav-item">
                            <a href="@Url.Action("Index", "Cabinet")" class="nav-link">
                                <i class="glyphicon glyphicon-info-sign">&nbsp;</i> My Cabinet
                            </a>
                        </li>
                        <li class="nav-item nav-link">
                            <a href="@Url.Action("SignOut", "Account")" class="nav-link">
                                <i class="glyphicon glyphicon-log-out">&nbsp;</i> Sign Out
                            </a>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </nav>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer></footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
